@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("../fonts/Lato-HeavyItalic.woff") format("woff"), url("../fonts/Lato-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #4B5157;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input {
  outline-style: none;
}

h1,
h2,
h3,
h4,
strong {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p,
span {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.form--radius {
  overflow: hidden;
  border-radius: 6px;
}

.invalid {
  color: tomato;
}

input.invalid {
  border-bottom: 1px solid tomato;
}

div[class$='input-group'] {
  position: relative;
}

div[id$='-error'] {
  position: absolute;
  right: 0;
  top: -15px;
}

.form {
  position: relative;
  display: flex;
}

.form-input {
  font-size: 14px;
  line-height: 20px;
  border: none;
}

.form-input::placeholder {
  color: #939699;
}

.form-input::-moz-placeholder,
.form-input :-moz-placeholder {
  opacity: 1;
}

.form-input--290 {
  width: 290px;
}

.form-button {
  height: 100%;
  border: none;
  padding: 18px 65px;
  background-color: #EC1F46;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.form-message {
  height: 123px;
  padding: 18px 18px 0 23px;
  border-radius: 4px;
  resize: none;
  outline: none;
  overflow: auto;
  -moz-appearance: none;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #4B5157;
}

.form-message::placeholder {
  color: #939699;
}

.form-message::-moz-placeholder,
.form-message :-moz-placeholder {
  opacity: 1;
}

.form-requred {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
}

.form-bottom-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-book {
  flex: 0 0 auto;
  position: relative;
  max-width: 180px;
  padding: 7px 20px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  background-color: #EC1F46;
  color: inherit;
}

.guests,
.room,
.adress {
  font-size: 12px;
  line-height: 16px;
}

.flash-offer {
  position: absolute;
  left: 0;
  top: 26px;
  padding: 4px 9px 4px 9px;
  max-width: 60px;
  min-height: 18px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  background-color: #EC1F46;
  text-align: center;
}

.back {
  display: block;
  text-decoration: none;
  color: #4B5157;
  margin-top: 30px;
}

.back-wrap {
  display: flex;
  align-items: center;
}

.back__text {
  margin: 0 0 0 10px;
}

.image-text {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.image-text__text {
  padding: 5px 5px 5px 10px;
}

.text-line {
  display: block;
  text-align: left;
  color: #D1E2EB;
}

.text-line--op04 {
  opacity: 0.4;
}

.text-line--op085 {
  opacity: 0.85;
}

.text-line--bold {
  font-weight: bold;
}

.text-line--12-normal {
  font-size: 12px;
  line-height: 15px;
}

.text-line--white {
  color: #ffffff;
}

.author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 0 0;
  border-bottom: 1px solid #BCBFC2;
}

.navbar-top__menu-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  min-height: 50px;
  border-right: 1px solid #BCBFC2;
}

.navbar-top-text {
  font-weight: bold;
  color: #4B5157;
}

.navbar-top-text__sections {
  font-size: 14px;
  line-height: 20px;
  margin: 0 27px 0 0;
}

.navbar-top__menu-btn {
  margin: 0 16px 0 0;
}

.navbar-top__subscribe {
  align-self: flex-end;
  max-width: 195px;
  min-height: 44px;
}

.navbar-top__subscribe-img {
  width: 66px;
  height: 44px;
  margin: 0 10px 0 0;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 120px;
  padding: 40px 0;
}

.navbar__logo {
  margin: 0 158px 0 30px;
}

.navbar__bottom {
  background-color: #0A223D;
}

.form-search {
  display: block;
  min-height: 50px;
  width: 100%;
}

.form-search__form-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10.5px 0;
  width: 47px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}

.form-search-input {
  height: 100%;
  width: 100%;
  padding: 17px 20px 0 55px;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 14px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.menu-btn__line {
  width: 18px;
  height: 2px;
  background-color: #BCBFC2;
}

.menu-btn__line:nth-child(2) {
  width: 12px;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu {
  width: 100%;
  padding: 30.5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  font-weight: Bold;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.subscribe-text-line:nth-child(1) {
  font-size: 12px;
  color: #262D33;
}

.subscribe-text-line:nth-child(2) {
  color: #939699;
}

.signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 72px;
  width: 100%;
  text-decoration: none;
  color: #4B5157;
}

.signin__text {
  font-size: 14px;
  line-height: 20px;
}

.signin__img {
  width: 20px;
  height: 20px;
}

.navbar-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 84px;
  width: 100px;
}

.logo__text {
  flex: 0 0 auto;
  max-width: 203px;
  color: #4B5157;
}

.logo__img {
  margin: 0 14px 0 0;
}

.logo-letter {
  max-width: 184px;
  min-height: 31px;
}

.navbar__logo-letter {
  margin: 0 0 3px 0;
}

.navbar-top__subscribe-img {
  margin: 0 0 -4px 0;
}

.navbar-top__navbar-wrap-2element {
  margin: 0 2px -2px 0;
}

.navbar-wrap-2element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 290px;
  width: 100%;
}

.calendar {
  max-width: 195px;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 74px;
  width: 100%;
}

.sun {
  letter-spacing: 1px;
}

.tabs {
  padding: 40px 0 0 0;
  margin: 0 0 250px 0;
}

.tabs__content {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.tabs__page {
  width: 877px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tabs__page-wrap {
  padding: 55px 171px 95px 55px;
}

.tabs__page-swiper {
  width: 877px;
  height: 570px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tabs__author {
  margin: 0 0 145px 0;
}

.tabs__link-category {
  display: block;
  margin: 0 0 26px 0;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4592FF;
}

.tabs__title {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 38px 0;
  font-family: 'Roboto Slab', slab-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.tabs__run-wrap {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.tabs__btn {
  margin: 0 24px 0 0;
}

.tabs-swiper {
  margin: 0 0 250px 0;
}

.tabs__text-wrap {
  margin: 0 0 0 10px;
}

.btn-readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 138px;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  background-color: #4592FF;
  color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}

.btn-readmore__text {
  margin: 0 6px 0 0;
}

.link {
  min-height: 570px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link__title {
  padding: 20px 25px;
  min-height: 60px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #D9DADB;
}

.link__subtitle {
  display: block;
  margin: 0 0 4px 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.link__subtitle-1 {
  color: #3BBDC4;
}

.link__subtitle-2 {
  color: #6E99AE;
}

.link__subtitle-3 {
  color: #AC8EE3;
}

.link__subtitle-4 {
  color: #FFA34D;
}

.link__subtitle-5 {
  color: #3DC47E;
}

.link__item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 263px;
  min-height: 99px;
  padding: 10px 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #D9DADB;
  text-decoration: none;
  cursor: pointer;
}

.link__item:last-child {
  border-bottom: none;
  min-height: 113px;
}

.link__item::before,
.link__item::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 0 22px 0 20px;
  z-index: 100;
  transition: all 0.5s ease;
}

.link__item::before {
  border-color: transparent;
}

.link__item::after {
  border-color: transparent #F5F5F5 transparent transparent;
}

.link__item.link__item--active::before,
.link__item.link__item--active::after {
  border-width: 20px 22px 20px;
}

.link__text {
  font-size: 14px;
  line-height: 20px;
}

.link__play {
  margin: 0 0 -5px 5px;
}

.link__item--active {
  background: #F5F5F5;
  cursor: default;
}

.link__item:not(.link__item_active):hover,
.link__item:not(.link__item_active):focus {
  background-color: #F5F5F5;
}

.tabs__page {
  display: none;
}

.tabs__page--show {
  display: block;
}

.test {
  position: relative;
  max-width: 263px;
  min-height: 99px;
  background-color: #F5F5F5;
  border: 1px solid #D9DADB;
  margin: 250px 0  250px 50px;
}

.test::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent black transparent transparent;
}

.swiper-slide-active {
  margin-right: 1px;
}

.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 20;
}

.swiper-button--prev {
  left: 2.57%;
  background-image: url("../img/slider/arrow-prev.svg");
}

.swiper-button--next {
  right: 2.57%;
  background-image: url("../img/slider/arrow-next.svg");
}

.swiper-button--reviews-prev {
  left: 0.1%;
  background-image: url("../img/reviews/arrow-dark-prev.svg");
}

.swiper-button--reviews-next {
  right: 0.1%;
  background-image: url("../img/reviews/arrow-dark-next.svg");
}

.modal {
  opacity: 0;
  visibility: hidden;
}

.modal__overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 143, 223, 0.39);
}

.modal__dialog {
  position: fixed;
  bottom: 50%;
  left: 50%;
  padding: 33px 88px;
  background-color: #0A223D;
  border-radius: 8px;
  color: #ffffff;
  z-index: 101;
  max-width: 478px;
  width: 100%;
  transform: translate(-50%, 50%);
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  width: 16px;
  height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.modal__form {
  width: 100%;
  flex-direction: column;
}

.modal__input {
  min-height: 50px;
  width: 100%;
  border-radius: 4px;
}

.modal__input-group {
  flex-basis: 100%;
  margin: 0 0 15px 0;
  border-radius: 4px;
  min-height: 50px;
  color: #4B5157;
}

.modal__message {
  margin: 0 0 15px 0;
}

.modal__title {
  margin: 0 0 15px 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.modal__button {
  border-radius: 4px;
}

.modal--visible {
  opacity: 1;
  visibility: visible;
}

.modal__thanks-block {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__thanks-wrap {
  display: flex;
  justify-self: center;
  align-items: center;
}

.modal__thanks-title {
  margin: 0 0 30px 0;
}

.modal__thanks-text {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .menu {
    padding: 22px 0;
  }

  .menu__link {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 78px 0 0 0;
  }

  .body__lock {
    overflow: hidden;
  }

  .container {
    max-width: 700px;
    width: 92%;
  }

  .navbar__bottom {
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 40;
    padding: 31px 0 48px 0;
    height: 100vh;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }

  .navbar__bottom--mobile-menu {
    top: 70px;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
  }

  .menu__item {
    margin: 0 0 20px 0;
  }

  .swiper-button--reviews-prev {
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -29%;
  }

  .swiper-button--reviews-next {
    top: 31px;
    right: 50%;
    transform: translateX(50%);
    margin-right: -29%;
  }
}

@media screen and (max-width: 576px) {
  .navbar__top {
    padding: 27px 0;
  }

  .modal__dialog {
    padding: 33px 5vw;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 280px;
  }
}

@media screen and (max-height: 490px) {
  .modal__dialog {
    padding: 14px 88px;
    max-height: 80%;
    overflow-y: auto;
  }

  .modal__input {
    min-height: 40px;
  }

  .modal__input-group {
    margin: 0;
  }

  .modal__message {
    height: 100%;
    max-height: 123px;
    overflow: auto;
  }

  .modal__button {
    padding: 12px 45px;
  }
}