.like, .comment
	display: flex
	align-items: center
	font-size: 12px
	line-height: 15px
	opacity: 0.4
	// max-width: 41px
	&>img
		width: 15px
		height: 15px
		margin: 0 5px 0 0 
	
.date
	font-size: 12px
	line-height: 15px
	opacity: 0.4

// .comment 
// 	display: flex
// 	justify-content: space-between
// 	align-items: center
// 	max-width: 41px
// 	min-height: 15px
// 	&__img

// 	&__number
// 		font-size: 12px
// 		line-height: 15px

// .comment
// 	padding: 5px
// 	&>img
// 		width: 15px
// 		height: 15px

// .like
// 	padding: 5px
// 	&>img
// 		width: 15px
// 		height: 15px

// .date
// 	padding: 5px 5px 5px 0
// 	// margin: 5px 0 0 10px
