*, *::before, *::after
  box-sizing: border-box

html 
  font-size:  14px
body
	font-family: 'Lato', sans-serif
	font-size: 1rem
	color: $text-color
	padding: 60px 0 0
	@media screen and ( max-width: 767px)
		padding: 110px 0 0

.body__lock
	overflow: hidden
	// @media screen and ( max-width: 767px)
	// 	overflow: hidden
.fixed 
	position: fixed //*позицианируем чтобы исчез скролл*/
	width: 100%  //*что бы верстка не складывалась по ширине*/


// [data-aload] 
// 	background-image: none !important

img 
  max-width: 100%

a
	text-decoration: none
input
  outline-style: none

h1, h2, h3, h4, strong
	margin: 0
	font-weight: 400


.post-h2
	font-family: 'Roboto Slab', slab-serif
	font-style: normal
	font-weight: bold
	font-size: 25px
	line-height: 30px
.post-h3
	font-family: 'Roboto Slab', slab-serif
	font-style: normal
	font-weight: bold
	font-size: 25px
	line-height: 30px	

ul
	list-style-type: none
	padding: 0
	margin: 0


p, span,
	padding: 0
	margin: 0

span, button, strong
	//word-break: break-all

button
	outline: none
	border: none
	background-color: transparent
	&:hover
		cursor: pointer





.section

.form--radius
	overflow: hidden
	border-radius: 6px

.invalid
  color: tomato
input
  &.invalid
    border-bottom: 1px solid tomato

div[class$='input-group']
  position: relative

div[id$='-error']
  position: absolute
  right: 0
  top: -15px

.form
	position: relative
	display: flex
	// overflow: hidden
	// border-radius: 6px

	&-input
		// background-color: $secondary
		// width: 290px
		font-size: 14px
		line-height: 20px
		border: none
		&::placeholder
			color: $text-light
		&::-moz-placeholder, :-moz-placeholder
			opacity: 1
		&--290
			width: 290px

	&-button
		height: 100%
		border: none
		padding: 18px 65px
		background-color: $primary
		font-weight: bold
		font-size: 12px
		line-height: 15px
		color: $light

		

	&-message
		height: 123px	
		padding: 18px 18px 0 23px	
		border-radius: 4px	
		resize: none
		outline: none	
		overflow: auto
		-moz-appearance: none	
		width: 100%
		font-size: 12px
		line-height: 15px
		color: $text-color

		//background-color: $light
		&::placeholder
			color: $text-light
		&::-moz-placeholder, :-moz-placeholder
			opacity: 1
	&-requred
		font-weight: bold	
		font-size: 12px	
		line-height: 15px
		align-self: center
	&-bottom-wrap
		display: flex
		justify-content: space-between
		width: 100%


.back
	display: block
	text-decoration: none 
	color: $text-color
	margin-top: 30px
.back-wrap
	display: flex
	align-items: center
.back__text
	margin: 0 0 0 10px

.image-text 
	display: flex
	align-items: center
	width: 100%
	text-decoration: none
	&__img
		// margin: 0 10px 0 0
	&__text
		padding: 5px 5px 5px 10px
		// margin: 5px 0 0 10px
	&__text-flex
		display: flex
		align-items: center
		justify-content: flex-start
		padding: 5px 5px 5px 10px
		@media screen and ( max-width: 576px)
			align-items: flex-start
			flex-direction: column

		// margin: 5px 0 0 10px


.text-line
		display: block
		text-align: left
		color: $grey-text
		&--op04
			opacity: 0.4
		&--op085
			opacity: 0.85
		&--bold
			font-weight: bold
		&--12-normal
			font-size: 12px
			line-height: 15px
		&--white
			color: $light
		&--black
			font-weight: bold
			color: $text-black

		
.author-img
		width: 45px
		height: 45px
		border-radius: 50% 