$dark:  #0A223D
$text-color: #4B5157
$text-black: #262D33
$light: #ffffff
$primary: #EC1F46
$secondary: #F5FAFE
$black-media: #252525
$dark-grey: #363636
$text-light: #939699
$text-green: #3BBDC4
$grey-light: #BCBFC2
$grey-bg: #F5F5F5
$grey-for-borfer: #D9DADB
$blue-light: #4592FF
$grey-text: #D1E2EB