.tabs
	padding: 40px 0 15px 0

	background: linear-gradient(0deg, $bg-primary 50%, $primary 50%)


	&__container 

	&__wrap
		// display: 
		display: grid
		grid-template-rows: 1fr
		grid-template-columns: minmax(auto, 877px) 1fr 
		border-radius: 10px
		overflow: hidden
		@media screen and ( max-width: 768px)
			display: none


	&__page
		display: none
		max-width: 877px
		width: 100%
		height: auto
		// height: 100%
		background-repeat: no-repeat
		background-position: center
		background-size: cover

		&-wrap
			padding: 55px 19.498% 95px 6.271%
			@media screen and ( max-width: 768px)
				padding: 20px 10% 20px 6%
			

	&__page-swiper
		display: flex
		flex-direction: column
		justify-content: space-between
		width: 100%
		// width: 100%
		height: 74vw
		// height: 100%
		background-repeat: no-repeat
		background-position: center
		background-size: cover


	&__author
		margin: 0 0 145px 0
		@media screen and ( max-width: 768px)
			margin: 0 0 11vw 0
		@media screen and ( max-width: 576px)
			margin: 0 0 8vw 0


	&__link-category
		display: block
		margin: 0 0 26px 0
		text-decoration: none
		font-size: 12px
		line-height: 15px
		letter-spacing: 0.5px
		text-transform: uppercase
		color: $blue-light
		@media screen and (max-width: 768px)
			margin: 0 0 2vw 0

		@media screen and (max-width: 576px)
			margin: 0 0 1vw 0
		
	&__title
		position: relative
		display: block
		//max-width: 540px
		width: 100%
		margin: 0 0 38px 0
		font-family: 'Roboto Slab', slab-serif
		font-style: normal
		font-weight: bold
		font-size: 40px
		line-height: 50px
		color: $light
		@media screen and ( max-width: 576px)
			font-size: 16px
			line-height: 20px
			margin: 0 0 18px 0
		// @media screen and ( max-width: 410px)
		// 	margin: 0 0 1vw 0
		// @media screen and ( max-width: 320px)
		// 	margin: 0 0 5px 0

	&__run-wrap
		display: flex
		// justify-content: space-between
		align-items: center
		// max-width: 500px
		// width: 100%
		min-height: 50px
	&__img 

	&__btn
		margin: 0 24px 0 0

	&-swiper
		margin: 0 0 250px 0

	&__link

	&__text-wrap
		margin: 0 0 0 10px

	&__play

		


.btn-readmore
	display: flex
	justify-content: center
	align-items: center
	max-width: 138px
	width: 100%
	height: 40px
	padding: 10px 0
	background-color: $blue-light
	color: $light
	border-radius: 20px
	text-decoration: none
	@media screen and ( max-width: 576px)
		max-width: 100px
		height: 30px
		padding: 6px 0
		font-size: 11px


.btn-readmore__text
	margin: 0 6px 0 0 

.btn-readmore__arrow 



.link
	// min-height: 570px
	// height: 100%
	// display: flex
	// flex-direction: column
	display: grid
	&__title
		width: 100%
		padding: 20px 25px
		min-height: 60px
		display: flex
		align-items: center
		font-size: 14px
		font-weight: bold
		line-height: 20px
		letter-spacing: 0.5px
		text-transform: uppercase
		border-bottom: 1px solid $grey-for-border
		background-color: $light
	&__subtitle
		display: block
		margin: 0 0 4px 0
		font-size: 12px
		font-weight: bold
		line-height: 15px
		letter-spacing: 0.5px
		text-transform: uppercase
		text-decoration: none
		&-1
			color: $text-green
		&-2
			color: #6E99AE
		&-3
			color: #AC8EE3
		&-4
			color: #FFA34D
		&-5
			color: #3DC47E

	&__item
		position: relative
		display: flex
		align-items: center
		max-width: 263px
		min-height: 99px
		padding: 10px 25px
		background-color: $light
		border-bottom: 1px solid $grey-for-border
		text-decoration: none
		cursor: pointer
		&:last-child
			border-bottom: none
			min-height: 113px
		&::before, &::after
			content: ""
			width: 0
			height: 0
			position: absolute
			left: -35px
			top: 50%
			transform: translateY(-50%)
			border-style: solid
			border-width: 0 22px 0 20px
			// z-index: 100
			transition: all 0.5s ease
		&::before
			border-color: transparent
		&::after
			border-color: transparent $grey-bg transparent transparent
		&.link__item--active::before,
		&.link__item--active::after 
			border-width: 20px 22px 20px 

		&-wrap

	&__text
		font-size: 14px
		line-height: 20px

	&__play
		margin: 0 0 -5px 5px





.link__item--active
	background: $grey-bg
	cursor: default
	

.link__item:not(.link__item_active):hover,
.link__item:not(.link__item_active):focus
	background-color: $grey-bg




// .tabs__page
// 	display: none
	

.tabs__page--show
	display: block
	
.test
	position: relative
	max-width: 263px
	min-height: 99px
	background-color: $grey-bg
	border: 1px solid $grey-for-border
	margin: 250px 0  250px 50px
	&::before
		content: ""
		position: absolute
		right: 0
		top: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 20px
		border-color: transparent black transparent transparent 
		// z-index: 80



.img-play 

.btn-play__img-play 



.link__item--swiper
	margin: 0 auto

.tabs
	&-swiper
		&__it-text
			font-size: 10px
			line-height: 12px
		&__img-play
			width: 30px
			height: 30px
	&__swiper
	
		&-container
			display: none
			@media screen and ( max-width: 768px)
				display: block
		&-slide
			display: grid
			justify-content: center

